@charset "UTF-8";

main {
  max-width: 1200px;
  height: calc(100vh - 55px);
  margin: 0px auto;
  margin-top: 55px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  main {
    width: 100%;
    height: 100%;
  }
}

/*********** Toastify Layout ************/

.Toastify__toast-container {
  width: 350px !important;
}

.Toastify__progress-bar--error {
  background-color: darkcyan !important;
}

.Toastify--animate-icon svg {
  fill: darkcyan !important;
}
